<nav>
    <ul class="sidebar-nav">

        {{ $sections := .Site.Sections.ByTitle }}
        {{ $taxonomies := .Site.Taxonomies }}
        {{ range .Site.Params.menu }}
        {{ $menu_item := . }}
        {{ $currentURL := $.Page.RelPermalink }}
        {{ $isActivePage := eq $currentURL $menu_item.URL }}
            <li class="heading sidebar-nav-item{{ if $isActivePage }} active{{ end }}">
                <a href="{{ $menu_item.URL }}">{{ $menu_item.Name }}</a>
            </li>
        {{ end }}
    </ul>
</nav>
