<!-- To automatically render mermaid diagrams -->
{{ if ne (.Page.Scratch.Get "hasMermaid") true }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

    const savedTheme = localStorage.getItem("theme");
    const theme = savedTheme || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    const mermaidTheme = theme === "dark" ? "dark" : "default";

    mermaid.initialize({theme: mermaidTheme});
</script>

{{ .Page.Scratch.Set "hasMermaid" true }}
{{ end }}
<div class="mermaid">
  {{- .Inner | safeHTML }}
</div>
